@import url('https://fonts.googleapis.com/css2?family=Inter&family=Reenie+Beanie&display=swap');
:root{
    --colorNormal:#ffffcc;
    --colorImportante:#ec7063;
    --colorBackground:#666;
    --colorGrisOscuro: #111;
}
body{
    background-color: var(--colorBackground);
}
.cardNormal{
    
    background-color: var(--colorNormal);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -moz-transform:rotate(-3deg);
}
.cardImportante{
    
    background-color: var(--colorImportante);
}
.equis{
    float: right;
}
p{
    font-family: 'Reenie Beanie', cursive;
}
